@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-color: black;
    height: 200px;
    color: white;
    font-family: "Passion One", cursive;
    font-size: 2.8vw;
    letter-spacing: 1.2px;
}

header p {
    padding-left: 25%;
}

#cabecalho {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main {
    font-family: "Sriracha", cursive;
    font-size: 3vw;
}

#primeiro_p {
    margin: 50px 20px;
}

#segundo_p {
    background: black url("imagens/background001.jpg") center no-repeat scroll;
    background-size: cover;
    color: white
}