*{
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-color: black;
    height: 200px;
    color: white;
}

header p {
    padding-left: 50px;
}

#cabecalho {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}